<div class="container">
    <div class="details">
        <div class="card">
            <div class="card-header">
              <p>Create Flight Plan</p>
            </div>
            <div class="card-body">
                <div class="autocomplete-container">
                    <div>
                        <div class="stop">
                            <p>Source Airport:</p>
                            <mat-form-field>
                                <input type="text" matInput [formControl]="src" [matAutocomplete]="auto1">
                                <mat-autocomplete #auto1="matAutocomplete">
                                    <cdk-virtual-scroll-viewport itemSize="48" [style.height.px]="viewportHeight" class="viewport">
                                        <mat-option *cdkVirtualFor="let option of filteredOptions1 | async" [value]="option.name">
                                          {{ option.name }}
                                        </mat-option>
                                    </cdk-virtual-scroll-viewport>
                                </mat-autocomplete>
                            </mat-form-field>
                            <span>&nbsp;</span>
                        </div>
                      
                        <div class="stop">
                            <p>Destination Airport</p>
                            <mat-form-field>
                                <input type="text" matInput [formControl]="dest" [matAutocomplete]="auto4">
                                <mat-autocomplete #auto4="matAutocomplete">
                                  <mat-option *ngFor="let option of filteredOptions4 | async" [value]="option.name">
                                    {{ option.name }}
                                  </mat-option>
                                </mat-autocomplete>
                            </mat-form-field>
                            <span>&nbsp;</span>
                        </div>

                        <div class="stop">
                            <p>Included Stop:</p>
                            <mat-form-field *ngIf="addinc">
                                <input type="text" matInput [formControl]="inc" [matAutocomplete]="auto2">
                                <mat-autocomplete #auto2="matAutocomplete">
                                    <mat-option *ngFor="let option of filteredOptions2 | async" [value]="option.name">
                                    {{ option.name }}
                                    </mat-option>
                                </mat-autocomplete>
                            </mat-form-field>           
                            <button *ngIf="!addinc" (click)="addinc = !addinc">Add Stop</button>
                            <span *ngIf="addinc" (click)="addinc = !addinc">X</span>
                        </div>

                        <div class="stop">
                            <p>Excluded Stop:</p>
                            <mat-form-field *ngIf="addexc">
                                <input type="text" matInput [formControl]="exc" [matAutocomplete]="auto2">
                                <mat-autocomplete #auto2="matAutocomplete">
                                    <mat-option *ngFor="let option of filteredOptions3 | async" [value]="option.name">
                                    {{ option.name }}
                                    </mat-option>
                                </mat-autocomplete>
                            </mat-form-field>           
                            <button *ngIf="!addexc" (click)="addexc = !addexc">Add Stop</button>
                            <span *ngIf="addexc" (click)="addexc = !addexc">X</span>
                        </div>
                    </div>
                </div>
                <div class="action">
                    <p *ngIf="err.length > 0">{{err}}</p>
                    <button (click)="createFlightPlan()">Create Flight Plan</button>
                </div>
            </div>
            <div class="fetch">
                <button (click)="fetchRoutes()">Fetch Routes</button>
            </div>             
        </div>
        <div class="routes">
            <div *ngIf="routes.length > 0">
                <div class="optimal">
                    <p>Optimal Route</p>
                    <div class="route" (click)="selectRoute(routes[0])">
                        <span>{{routes[0].text}}</span>
                        <span>{{routes[0].duration}}hrs</span>
                        <span>{{routes[0].distance | number:'1.2-2'}}kms</span>
                        <span>{{routes[0].stops}} stops</span>
                    </div>
                </div>
                <div class="list">
                    <p>Routes List</p>
                    <div class="scrollable">
                        <div class="route" *ngFor="let route of routes" (click)="selectRoute(route)">
                            <span>{{route.text}}</span>
                            <span>{{route.duration}}hrs</span>
                            <span>{{route.distance | number:'1.2-2'}}kms</span>
                            <span>{{route.stops}} stops</span>
                            <span>{{route.coords}} stops</span>
                        </div>
                    </div>
                </div>
            </div>
            <p *ngIf="routes.length == 0" style="text-align: center; font-weight: 100;">No routes available</p>
        </div>
    </div>
    <div id="map" #map>
        <app-hamburger-menu [dashboard]="dashboard"></app-hamburger-menu>
    </div>
</div>