.container {
    width: 100%;
    height: 100%;
    background-image: url('../../assets/loginBg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    text-align: center;
    .header {
        display: grid;
        grid-template-columns: 1% 10%;
        padding: 1.5%;
        height: 7%;
        .name {
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
    .taglinecontainer {
        width: 100%;
        height: 10%;
        display: flex;
        align-items: center;
        justify-content: center;
        .tagline {
            width: 50%;
            h2 {
                margin: 0px;
            }
        }
    }
    .formDiv {
        width: 100%;
        height: 50%;
        text-align: left;
        form {
            width: 20%;
            height: 40%;
            margin-top: 6%;
            margin-left: 42.5%;
            .form-group {
                margin-bottom: 5%;
                label {
                    font-size: 150%;
                    font-weight: bold;
                    margin-left: 2%;
                }
                input {
                    background-color: white;
                    padding: 3%;
                    font-size: 100%;
                    border-radius: 2vh;
                    border: 0px;
                    width: 73.5%;
                }
                input:hover {
                    opacity: 0.9;
                }
            }
            button {
                background-color: #08018b;
                color: white;
                padding: 2%;
                font-size: 120%;
                border-radius: 2vh;
                border: 0.2vh solid white;
                width: 80%;
                margin-top: 3%;
            }
            button:hover {
                opacity: 0.6;
                color: white;
                padding: 2%;
                font-size: 120%;
                border-radius: 2vh;
                border: 0.2vh solid white;
                width: 80%;
                margin-top: 3%;
            }
        }
    }
}