<div class="hamburger-menu">
    <div class="hamburger-menu__icon" (click)="toggleMenu($event)">
        <div class="hamburger-menu__icon__line"></div>
        <div class="hamburger-menu__icon__line"></div>
        <div class="hamburger-menu__icon__line"></div>
    </div>
    <div class="hamburger-menu__content" *ngIf="isOpen">
        <div class="close" (click)="closeMenu()">
            <p>X</p>
        </div>
        <p class="hamburger-menu__content__list__item" *ngFor="let item of menuItems" (click)="closeMenu()">
            <a class="hamburger-menu__content__list__item__link" (click)="goToPage(item.route)">{{ item.label }}</a>
        </p>
    </div>
</div>